.button{
    background-color: white;
    color: #808080;
    border: 1px solid #808080;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: all 0.5s;
    cursor: auto;

}
.button:hover{
    background-color: #808080;
    color: white;
}

.header-button{
    padding: 0 0 0 40px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    cursor: auto;
    transition: all 0.3s;

}

.header-button:hover{
    border-bottom: 4px solid #003366;
}