.lightbox-wrap {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.86);
  display: none;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -ms-grid-row-align: center;
      align-items: center;
}
.lightbox-wrap.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox-wrap .lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  background: #fff;
  max-height: 100%;
  overflow: auto;
  border: 1px solid black;
}

.lightbox-wrap .lightbox-content {
  padding: 0 10px 10px 10px;
}

.lightbox-wrap h3 {
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
}

.lightbox-wrap h4 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.lightbox-wrap p {
  margin-top: 0;
}

.lightbox-wrap .close {
  text-align: right;
  padding: 5px;
}

.lightbox-wrap .close img {
  width: 30px;
}

.lightbox-wrap .close:hover {
  cursor: pointer;
}

.lightbox-wrap .banner {
  width: 100%;
}
