header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  padding: 0 0 0 40px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

header a.active, header a:hover {
  text-decoration: underline;
}

@media (max-width: 900px)
{
  /* reducing logo's size */
  header img {
    width: 200px;
  }

  header .content {
    flex-direction: column;
  }
}
