#container section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; /* safari bug fixes */
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px
}



@media (max-width: 500px)
{
  #container section {
    text-align: inherit;
  }
}
