section.about {
  padding-top: 50px;
}

section.about p {
  margin-top: 0;
}

section.about ul li {
  padding: 8px 0 8px 0;
  list-style: square inside url("../../images/icons/bullet.png");
}

section.about .links {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section.about .links a {
  margin: 20px 5px 0 5px;
  width: 140px;
}

section.about h2 {
  color: #e74c3c;
  text-align: center;
  font-weight: 700;
  float: right;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 4em;
}

@media (max-width: 800px)
{
  section.about h2 {
    padding-left: 15px;
  }
}

@media (max-width: 400px)
{
  section.about h2 {
    padding-left: 0;
    float: none;
    font-size: 2.5em;
  }
}
