section#activities .row {
  margin: 30px 5px 30px 5px;
}

section#activities .row > :first-child {
  margin-right: 30px;
}

@media (max-width: 900px)
{
  section#activities .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  section#activities .second.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
