section#donation {
  background-image: url("../../images/layout/ardoise.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  color: white;
}

section#donation img {
  height: 120px;
  padding-left: 20px;
  padding-top: 20px;
}


section#donation .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

section#donation .column {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
}

@media (max-width: 900px)
{
  section#donation .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
