section#donation {
  background-image: url("../../images/layout/ardoise.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  color: white;
}

section#donation img {
  height: 120px;
  padding-left: 20px;
  padding-top: 20px;
}


section#donation .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

section#donation .column {
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  width: 400px;
}


@media (max-width: 900px)
{
  section#donation .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                    align-items: center;
  }
}
