html, body {
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.7em;
}

h3 {
  font-family: 'Raleway', Arial, sans-serif;
}

.content {
  width: 1000px;
}

.newline {
  white-space: pre-line;
}

@media (max-width: 900px)
{
  #container section .content, footer .content {
    padding: 10px;
  }
}
